body {
    font-family: 'Roboto', sans-serif;
    background-color: #746d6d;
    color: #d4d4d4;
    margin: 0;
}

h1 {
    font-weight: 700;
    font-size: 2rem;
}

p.lead {
    font-size: 1.1rem;
    color: #746d6d;
}

.card-body h2 {
    font-weight: bold;
    margin: 0;
}

.table th {
    cursor: pointer;
    user-select: none;
}

.table th:hover {
    background-color: #746d6d;
}

.progress-bar {
    font-size: 0.9rem;
    padding: 0;
}

i.bi-clipboard-fill,
i.bi-box-arrow-up-right {
    cursor: pointer;
}

.table-hover tbody tr:hover {
    background-color: #746d6d;
}

#complete-message {
    color: #a9a9a9 !important; 
    background-color: transparent;
    display: none;
}

.ocean-nodes-section {
    background-color: transparent;
    border: none;
    color: #fff;
}

.ocean-nodes-section img {
    vertical-align: middle; 
    margin-left: 10px;
}

.ocean-nodes-section h5,
.ocean-nodes-section p {
    color: #fff;
}

.page-link {
    background-color: #343a40 !important;
    color: var(--bs-light) !important;
}

.page-item.active .page-link {
    background-color: #343a40 !important;
    border-color: var(--bs-dark) !important;
}

.page-link:hover {
    background-color: #414243 !important;
    color: var(--bs-light) !important;
}
